.divCadastroMain {
    border: solid red 1px;
    width: 80%;
    margin-left: 120px;
    margin-top: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divCadastro {
    width: 80%;
    position: absolute;
    display: flex;
    margin-left: 280px;
    margin-top: 10px;
}

.fundo{
    margin: 20px auto;
    width: 88%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.arvorelogo{
    height: 62px;
    width: 62px;
    margin-right: 5px;
}

.campform{
    width: 85%;
    padding: 8px ;
    background-color: #808080;
    margin-left: 5px;
}

input{
    margin: 0 25px 0 10px;
    border-radius: 5px;

}

form > div {
    margin-bottom: 18px;
}

label{
    background-color: rgb(143, 188, 143);
    padding: 5px;
    border-radius: 10px 10px ;
}

.escolha{
    margin-top: 10px;
}

.escolha > label{
    background-color: white;
}

.opcao > label{
    margin-left: 5px;
}

.opcao > select{
    margin-left: 5px;
}