.retopo{
    width: 80%;
    position: absolute;
    display: flex;
    margin-left: 280px;
    margin-top: 10px;
}

.folhalogo{
    height: 62px;
    width: 62px;
    margin-right: 5px;
}

.reladrado{
    width: 50%;
    margin-left: 120px;
    margin-top: 10%;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.pqs{
    background-color: #E4E4E4;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.pqs > h1 {
    margin-left: 25px;
}

.relabel {
    margin-left: 250px;
    margin-top: 14px;
}

.reput{

    padding: 8px;
    margin: 8px 0;
    margin-right: 200px;
    box-sizing: border-box;
    background-color: #E4E4E4;
    border: 0 none;
    border-radius: 10px;
    display: block;
}

.caixar{
    width: 100%;
    border: 1px solid;
    border-color: black;
    background-color: #FFFAFA;
}

.reforms{
    position: relative;
    margin: 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.brela{
    position: relative;
    left: 38%;
    margin: 17px;
    margin-top: -10px;
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    background-color: #109115;
    color: white;
}
